<div class="container mx-auto px-4">
  <div class="flex justify-center">
    <div class="w-full max-w-lg mx-10 ">
      <h1 class="text-2xl md:text-3xl text-center my-6 text-gray-600"><%= t(".title") %></h1> 
      <div class="border p-4 shadow">
        <h2 class="text-sm md:text-base text-center my-6 text-gray-600">
          変更メールアドレス宛に認証メールを送信します。<br>
          リンク先からメールアドレスの認証を行ってください。
        </h2> 
        <%= form_with model: @user, url: update_email_profile_path, method: :patch, local: true do |f| %>
          <div class="text-sm m-4">
          <p>現在のメールアドレス</p>
          <span><%= @user.email %></span>
          </div>

          <div class="field text-sm">
            <%= f.label :email %>
            <%= f.email_field :email, class: "rounded-full mt-1 mb-6 w-full px-3 py-2 border border-gray-300 shadow-sm focus:outline-none focus:ring-cyan-500 focus:border-cyan-500" %>
          </div>
      
          <div class="actions text-center">
            <%= f.submit t(".submit"),
                class: "w-200 border-4 border-amber-300 hover:bg-amber-300 text-gray font-bold py-2 px-4 rounded-md shadow-md transition" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
