<div class="character-form" data-controller="closable" data-closable-target="content">
  <div class="modal-content bg-white border border-gray-400 rounded-lg mb-">
    <div class="flex justify-end">
      <button type="button" data-action="closable#close" class=" text-gray-500 hover:text-gray-800 m-4">
      ✕
      </button>
    </div>
    <h3 class="text-center text-sm md:text-base mb-2">好きなキャラクターに褒めてもらおう！</h3>

    <div class="character-grid grid grid-cols-3">
      <% @available_characters.each do |character| %>
        <%= button_to update_character_path(user: { character_id: character.id }),
                      method: :patch,
                      class: "character-option col-span-3 p-4",
                      data: { turbo_stream: true } do %>
          <%= image_tag character.image, class: "rounded-full border-2 border-gray-300 size-20 object-cover" %>
          <p class="text-[12px] md:text-sm"><%= character.name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="current-character m-4 pt-4 border-t-4 grid grid-cols-2">
      <div class="place-items-center">
        <p class="m-2">現在のキャラクター</p> 
        <p class="m-2"><%= current_user.character&.name || "デフォルト" %></p>
      </div>
      <div class="place-items-center">
        <% if defined?(current_user) && current_user.present? && current_user.character.present? %>
          <%= image_tag current_user.character.image, class: "rounded-full border-2 border-gray-300 size-20 object-cover"%>
        <% else %>
          <%= image_tag "characters/default.png", class: "rounded-full border-2 border-gray-300 size-20 object-cover" %>
        <% end %>
      </div>
    </div>  
  </div>
</div>