<div class="character-form" data-controller="character-form">
  <div class="modal-content bg-white border border-gray-400 rounded-lg">
    <div class="flex justify-end">
      <button type="button" data-action="character-form#close" class=" text-gray-500 hover:text-gray-800 p-4">
      ✕
      </button>
    </div>
    <h3 class="text-center m-2">好きなキャラクターに褒めてもらおう！</h3>

    <div class="character-grid grid grid-cols-3">
      <% @available_characters.each do |character| %>
        <%= button_to update_character_path(user: { character_id: character.id }),
                      method: :patch,
                      form: { data: { turbo_stream: true } },
                      class: "character-option col-span-3 p-4" do %>
          <%= image_tag character.image_url, alt: character.name, class: "rounded-full border-2 border-gray-300 mt-4 mb-2" %>
          <p><%= character.name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="current-character m-4 pt-4 border-t-4 grid grid-cols-2">
      <div class="place-items-center">
      <p class="m-2">現在のキャラクター</p> 
      <p class="m-2"><%= current_user.character&.name || "デフォルト" %></p>
      </div>
      <div class="place-items-center">
        <%= image_tag current_user.character&.image_url, class: "rounded-full border-2 border-gray-300 size-20" %>
      </div>
    </div>  
  </div>
</div>