<!-- ページネーション後、背景画像を全画面共有にする -->
<div class="grid grid-cols-1 md:grid-cols-12 grid-rows-10 h-screen bg-hero-pattern bg-cover bg-top">
  <!-- menu 画面左-->
  <div class="col-span-1 md:col-span-2 row-span-10 w-full p-4 fixed bottom-0 bg-white md:static md:h-full">
    <%= render 'menu' %>
  </div>
  <!-- 説明画面 -->
  <!-- キャラクター変更 -->
  <div id="character-selection" class="md:col-start-3 md:col-span-2 md:row-start-3 md:row-span-2 w-full"></div>

  <!-- chat 画面中央-->
  <div class="col-span-1 row-span-7 row-start-2 md:col-span-4 md:col-start-5 md:row-span-10 p-4 overflow-hidden">
    <div class="w-full text-center ">
      <h1 class="sm:text-sm md:text-xl lg:text-2xl mt-4 mb-6 text-gray-600">今日のいいところ</h1>
      <!-- ユーザー入力フォーム -->
      <%= form_with url: chats_path, method: :post, local: false do |f| %>
        <div class="flex justify-center mb-4">
          <div class="w-full border-4 border-amber-400 rounded-md">
            <%= f.text_area :content, placeholder: "ポジティブな言葉で書いてみましょう！", class: "w-full rounded-md text-center" %>
          </div>
        </div>
        <!-- 投稿ボタン -->
        <%= f.submit "さすが自分！",class: "w-200 hover:bg-amber-300 text-gray font-bold py-2 px-4 rounded-md shadow-md transition" %> 
        <% end %>
        <!-- AI返答フォーム -->
        <div class="flex justify-center mt-4">
          <div class="w-full border-4 border-cyan-400 rounded-md p-4 bg-white">
            <% stream_id = user_signed_in? ? "chat_user_#{current_user.id}" : "chat_guest_#{session.id}" %>
            <%= turbo_stream_from stream_id %>
              <div id="chat_messages">
                <%= render partial: "message", collection: @messages, as: :message %>
              </div>
              <!-- キャラクターの表示 -->
              <div id="character_area">
                  <%= render 'devise/character_display', user: current_user %>
              </div>
          </div>
        </div>
        <!-- 各種ボタン -->
        <div class="flex flex-wrap justify-center items-cente">
          <!-- xシェアボタン-->
          <div class="mx-4 my-2">
            <a href="https://twitter.com/intent/tweet?text=ポジティブを育てよう！&url=https%3A%2F%2Fjibun-love.com%2F&hashtags=じぶんLOVE,ポジティブ思考,自己肯定感"
            target="_blank"
            rel="noopener noreferrer"
            class="my-x-share-button text-gray-600 hover:text-cyan-400 text-xs md:text-sm"
            >
            Xでシェア
            </a>
          </div>
          <!-- リセットボタン -->
          <div class="mx-4 my-3 text-gray-600 hover:text-amber-400 text-xs md:text-sm">
            <%= button_to '新しく書く', chat_reset_path, method: :delete %>
          </div>
          <!-- 会話履歴 PC画面のみ表示-->
          <div class="mx-4 my-2 text-gray-600 hover:text-pink-400 hidden md:block">
            <%= link_to "会話履歴", conversation_history_path,
                        data: { turbo_stream: true, turbo_target: "conversation-history" },
                        class: "btn btn-secondary text-sm" %>           
          </div>
        </div>
      </div>
    </div>

    <!-- 画面右 -->   
    <div class="col-span-1 md:col-span-2 md:col-end-13 row-span-1 row-start-1 p-4 ">
      <!-- 上部：リード文 -->
      <% if user_signed_in? %>
        <%= render 'lead' %>
      <% else %>
        <%= render 'before_login_lead' %>
      <% end %>
    </div>
    <!-- 下部：会話履歴 -->
    <div class="col-span-12 md:col-span-4 md:col-end-13 md:row-span-8  md:row-start-2 overflow-y-auto mx-4">
      <div id="conversation-history"></div>
    </div>
    <!-- 下部：キャラクター変更画面 -->
    <div class="col-span-12 md:col-span-4 md:col-end-13 md:row-span-8  md:row-start-2 h-screen mx-4">
      <div id="character_form_container"></div>
    </div>
    <!-- 下部：「書き方に困ったら」-->
    <div id="how-to-write" class="col-span-12 md:col-span-4 md:col-end-13 md:row-span-8  md:row-start-2 h-screen mx-4"></div>
  </div>
  <div id="character_change_area">
  <%= link_to "キャラクターを変更", character_form_path, data: { turbo_stream: true } %>
</div>
