<!-- ページネーション後、背景画像を全画面共有にする -->
<div class="flex flex-col md:flex-row h-[calc(100vh-HEADER_FOOTER_HEIGHT_px)] bg-hero-pattern bg-cover bg-top">
  <!-- menu -->
  <div class="order-3 md:order-1 w-full md:w-1/5 p-4 fixed bottom-0 left-0 z-10 bg-white md:static md:h-auto">
      <%= render 'menu' %>
  </div>

  <!-- chat -->
  <div class="order-2 md:order-2 w-full md:w-3/5 p-4 overflow-hidden">
    <div class="mx-auto p-2">
      <div class="flex justify-center">
        <div class="w-full text-center ">
          <h1 class="sm:text-sm md:text-xl lg:text-2xl mt-4 mb-6 text-gray-600">今日のいいところ</h1>
          <!-- ユーザー入力フォーム -->
          <%= form_with url: chats_path, method: :post, local: false do |f| %>
            <div class="flex justify-center mb-4">
              <div class="w-full max-w-md border-4 border-amber-400 rounded-md">
                <%= f.text_area :content, placeholder: "ポジティブな言葉で書いてみましょう！", class: "w-full rounded-md text-center" %>
              </div>
            </div>
        
            <%= f.submit "さすが自分！",class: "w-200 hover:bg-amber-300 text-gray font-bold py-2 px-4 rounded-md shadow-md transition" %> 
          <% end %>
          
          <div class="flex justify-center mt-4">
            <div class="w-full max-w-md border-4 border-cyan-400 rounded-md p-4 bg-white">
            <% stream_id = user_signed_in? ? "chat_user_#{current_user.id}" : "chat_guest_#{session.id}" %>
            <%= turbo_stream_from stream_id %>
      
              <div id="chat_messages">
                <%= render partial: "message", collection: @messages, as: :message %>
              </div>
            </div>
          </div>
          <div class="flex justify-center">
            <!-- xシェアボタン　本リリース時、URL変更-->
            <div class="mx-10 my-2">
              <a href="https://twitter.com/intent/tweet?text=ポジティブを育てよう！&url=https%3A%2F%2Fjibun-love2025.fly.dev%2F&hashtags"
              target="_blank"
              rel="noopener noreferrer"
              class="my-x-share-button text-gray-600 hover:text-cyan-400"
              >
              Xでシェア
              </a>
            </div>
            <!-- リセットボタン -->
            <div class="mx-10 my-2 text-gray-600 hover:text-amber-400">
              <%= button_to '新しく書く', chat_reset_path, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- リード文 -->
  <div class="order-1 md:order-3 w-full md:w-1/5  p-4">
    <div class="h-full flex items-start justify-end p-4">
      <% if user_signed_in? %>
        <%= render 'lead' %>
      <% else %>
        <%= render 'before_login_lead' %>
      <% end %>
    </div>
  </div>
</div>