<div class="mx-10 my-4">
  <!-- ページトップ -->
  <div class="flex flex-col md:flex-row">
    <div class="order-2 md:order-1 md:w-1/4 mb-4"> 
      <%= render "button", back_text: "一覧に戻る", back_path: posts_path %>
    </div>
    <div class="order-1 md:order-2 md:w-2/4">
      <h1 class="text-2xl md:text-3xl lg:text-4xl m-4 text-gray-600 text-center">ポジティブ詳細</h1>
    </div>
  </div>
  <!-- 投稿詳細 -->
  <div class="flex justify-center mt-8">
    <h2 class="w-full max-w-md text-lg text-gray-700 border-b border-gray-500 mb-2"><%= l(@post.created_at, format: :short) %></h2> 
    <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
      <div class="inline-block border-b border-gray-500">
        <%= inline_svg("trash", class: "w-5 h-5 text-gray-800 hover:text-amber-500 mx-1 my-1") %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="flex justify-center mb-4">
    <div class="w-full  max-w-md text-center border-4 border-amber-400 rounded-md m-5 p-3">
      <p><%= @post.content %></p>
    </div>
  </div>
  <div class="flex justify-center mb-4">
    <div class="w-full  max-w-md text-center border-4 border-cyan-400 rounded-md m-5 p-3">
      <p><%= @ai_response.content %></p>
    </div>
  </div>
</div>
